<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="net.myfigurecollection"
		android:versionCode="9"
		android:versionName="@string/app_version" >

		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.GET_TASKS" />

		<uses-feature
				android:name="android.hardware.camera"
				android:required="false" />

		<uses-sdk
				android:minSdkVersion="8"
				android:targetSdkVersion="14" />

		<application
				android:backupAgent=".android.MFCBackup"
				android:hardwareAccelerated="true"
				android:icon="@drawable/ic_launcher"
				android:label="@string/app_name"
				android:logo="@drawable/ic_launcher"
				android:restoreAnyVersion="true"
				android:theme="@style/Theme.Sherlock.Light" >
				<uses-library android:name="com.google.android.maps" />

				<meta-data
						android:name="com.google.android.backup.api_key"
						android:value="AEdPqrEAAAAIwyqLwaHvPIfS9oGNO2-aRj77uQHUX-pGS1tqhA" />
				<meta-data
						android:name="android.app.default_searchable"
						android:value="SearchFigure" />

				<activity
						android:name="MFCApp2Activity"
						android:configChanges="keyboardHidden|orientation"
						android:label="@string/app_name"
						android:theme="@style/Theme.Sherlock" >

						<!-- enable the search dialog to send searches to SearchableActivity -->
						<meta-data
								android:name="android.app.default_searchable"
								android:value=".SearchResultActivity" />
				</activity>
				<activity
						android:name=".SearchResultActivity"
						android:configChanges="keyboardHidden|orientation"
						android:label="@string/action_label_search_title"
						android:noHistory="true"
						android:theme="@style/Theme.Sherlock" >
						<intent-filter>
								<action android:name="android.intent.action.SEARCH" />
						</intent-filter>

						<meta-data
								android:name="android.app.searchable"
								android:resource="@xml/searchable" />
				</activity>
				<activity
						android:name=".SplashScreenActivity"
						android:noHistory="true"
						android:screenOrientation="sensor" >
						<intent-filter>
								<action android:name="android.intent.action.MAIN" />

								<category android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
				<activity
						android:name="Credentials"
						android:label="@string/app_name"
						android:launchMode="singleTop"
						android:noHistory="true"
						android:windowSoftInputMode="stateHidden" >
				</activity>
				<activity android:name=".android.data.XMLHandler$DBUpdater" >
				</activity>

				<provider
						android:name=".android.data.DatabaseProvider"
						android:authorities="net.myfigurecollection.dataprovider.db"
						android:syncable="true" >
				</provider>
				<provider
						android:name=".android.data.SearchFigureProvider"
						android:authorities="net.myfigurecollection.SearchFigureProvider"
						android:readPermission="net.myfigurecollection.provider.READ_MY_DATA"
						android:syncable="true"
						android:writePermission="net.myfigurecollection.provider.WRITE_MY_DATA" >
						<path-permission
								android:pathPrefix="/search_suggest_query"
								android:readPermission="android.permission.GLOBAL_SEARCH" />
				</provider>

				<activity
						android:name="PhotoIntentActivity"
						android:label="@string/app_name"
						android:launchMode="singleTop"
						android:theme="@style/Theme.Sherlock" >
				</activity>
		</application>

</manifest>